* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  padding: 5px;  
}

.logo {
  max-width: 15%;
} 
#contact-us {
  display:flex;
  align-items: center;
  flex-direction: column;

}

.form {
  margin-top: 51px;
  padding: 20px;
  border: 2px black solid;
}

.title {
  height:10px;
}
#pitch {
  display:flex;
  width:100%;
  height: 100vh;
  background-color: black;
  background-image: url('Assest/Header_Image.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: flex-end;
  align-items: center;
}

.pitch_content {
  color: white;
  font-weight: bold;
  font-size: 2em;
  background-color: #ffffff;
  opacity:.6;
  color:black;
}
.pitch_text {
  text-align: center;
  padding: 40px;
  opacity: 1;
}

#type {
  
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}
.type-card {
  border:5px black solid;
  width:300px;
  height: 390px;
  background-color: black;
  margin:20px;
  padding:20px;
}

.type-card img {
  max-width: 100%;
  margin-top: 21px;
}

.type-title {
  display:flex;
  justify-content: center;
  width:100%;
}
h1 {
  text-align: center;
  margin: 0;
}

body > section {
  min-height: 200px;
  padding: 40px;
}

body > section:nth-child(odd){
  background-color: blue;
}

#pricing {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.price-card {
  text-align: center;
  border: 1px solid royalblue;
  min-height: 200px;
  border-radius: 3px;
  min-width: 125px;
  margin: 20px;
  cursor: pointer;
}

.price-card img {
  width:200px;
  padding:10px;
}

.price-card > .price {
  display: block;
  font-size: 50px;
  padding: 10px;
}

.price-card > .per-month {
  display: block;
  font-size: 21px;
  color: grey;
}

.price-card > .plan-name {
  background-color: royalblue;
  color: white;
  padding: 5px;
  margin-bottom: 20px;
}

.price-card > .buy {
  background-color: white;
  color: blue;
  border: 2px solid blue;
  border-radius: 10px;
  margin-top: 25px;
  width: 87%;
}

.price-card > .buy:hover {
  background-color: blue;
  color: white;
  cursor: pointer;
}

@media only screen and (max-width: 750px) {
  #pitch {
    background-image: none;
    background-color: black;
    justify-content: center;
  }

  .price-card {
    min-height: 300px;
    min-width: 225px;
  }

  .price-card > .price {
    font-size: 85px;
  }

  .price-card > .per-month {
    font-size: 35px;
  }

  .price-card > .plan-name {
    padding: 5px;
    margin-bottom: 20px;
  }
}